@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.right {
  background-image: url(images/Vector.png);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
}

img {
  object-fit: contain;
}

h2 {
  line-height: 3.4rem;
}

.explore-half2 {
  background-image: url(images/Ellipse.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}
